.container{
    display: flex;
    .content{
        .welcome{
        h1{
            font-size: 30px;
            font-weight: 500;
        }
        
    }
    .main{
        h3{
            margin: 0px;
        }
        button{
            height: 50px;
            width: 440px;
            font-size: 20px;
            border-radius: 10px;
            border:none;
            color: white;
            background-image: linear-gradient(to right, hsl(235deg 58% 27%), hsl(151deg 36% 55%));
        }
    }
        padding: 50px;
    }

}
:host{
    mat-form-field{
        width: 440px;
    }
}