<div class="container">
    <div class="images">
        <img src="/assets/Screenshot from 2022-04-27 12-20-44.png">
    </div>
    <div class="content">
        <div class="welcome"><h1>Welcome to Livia<br>Imaging Portal</h1></div>
        <form [formGroup]="resetpass">
        <div class="main">
            <h1>Create new password</h1>
            <p>Your new password must be different from  previous used passwords</p>
            <h3>New Password</h3>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="**********"  formControlName="password">
                <mat-error *ngIf=" resetpass?.controls?.password?.errors?.required"> *password required</mat-error>
               
              </mat-form-field>
              <h3>Confirm Password</h3>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="**********" formControlName="confirmpass" >
                <mat-error *ngIf=" resetpass?.controls?.confirmpass?.errors?.required"> *password required</mat-error>
              </mat-form-field>
              <button (click)="reset()">Reset Password</button>
            
        </div>
        </form>
    </div>
</div>
