h1{
    font-weight: 600;
}
h3{
    margin: 0px;
}
button{
    background-image: linear-gradient(to right,hsl(235deg 58% 27%),hsl(151deg 36% 55%));
    color: white;
}
:host{
    mat-form-field{
        width: 300px;
    }
}