<div>
    <form  [formGroup]="forgetpassword">
        <h1>
            Reset Password 
        </h1>
        <p>Enter the email associated with your account<br> and we'll send an email with instruction to<br> reset your password</p>
        <h3>Email Address</h3>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
            <mat-error *ngIf="forgetpassword?.controls?.email?.errors?.required">*Email required</mat-error>
            <mat-error *ngIf="forgetpassword?.controls?.email?.errors?.email">*Enter correct email</mat-error>
            
          </mat-form-field>
          <mat-dialog-actions >
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="sendrest()">Send</button>
          </mat-dialog-actions>
    </form>
</div>
